html {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

body {
  font-family: "Muli", sans-serif;
}

header {
  font-family: "Playfair Display", serif;
  font-size: 14vw;
}

@media only screen and (min-width: 380px) {
  header {
    font-size: 9vw;
  }
}

a.homelink:link {
  color: #333;
  text-decoration: none;
}

a.homelink:visited {
  color: #333;
  text-decoration: none;
}

a.homelink:hover {
  color: #333;
  text-decoration: none;
}

#home {
  padding-top: 50%;
}

@media only screen and (min-width: 768px) {
  #home {
    padding-top: 25vh;
  }
}

#homenavbar {
  font-family: "Muli", sans-serif;
  font-size: 22px;
  border-top-style: double;
  border-top-width: 4px;
  border-top-color: #333;
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-bottom-color: #333;
}

#navbar {
  font-family: "Muli", sans-serif;
  font-size: 22px;
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-bottom-color: #333;
}

#navcol {
  padding-left: 0px;
  padding-right: 0px;
}

a.navlink:link {
  color: #333;
  text-decoration: none;
}

a.navlink:visited {
  color: #333;
  text-decoration: none;
}

a.navlink:hover {
  color: #999;
  text-decoration: none;
}

.container {
  max-width: 750px;
}

#bodytext {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

#projecttext {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  text-align: justify;
}

#projects {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#boxes {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.colorlink:link {
  color: #FF9B44;
  text-decoration: none;
}

a.colorlink:visited {
  color: #FF9B44;
  text-decoration: none;
}

a.colorlink:hover {
  color: #999;
  text-decoration: none;
}

#footer {
  font-family: "Muli", sans-serif;
  color: #333;
  font-size: 12px;
  border-top-style: double;
  border-top-width: 4px;
  border-top-color: #333;
  padding-top: 10px;
  padding-bottom: 20px;
}
