body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #333;
}

p {
  margin-top: 0;
  font-size: 14px;
}

p.body {
  font-size: 16px;
}

img {
  width: 100%;
}

a, a:visited, a.home-link:hover {
  color: #333;
  text-decoration: none;
}

a.colorlink, a.colorlink:visited, a.navlink.active {
  color: #FF9B44;
}

a:hover, a.colorlink:hover {
  color: #999;
}

.container {
  max-width: 750px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.home {
  margin-top: 30vh;
}

.home-header {
  margin-top: 10vh;
  text-align: center;
  display: flex;
}

.home-link {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  margin: auto;
}

.navbar {
  font-size: 22px;
  border-bottom: 4px double #333;
  display: flex;
  text-align: center;
}

.navbar-home {
  border-top: 4px double #333;
}

.navlink {
  flex-grow: 1;
}

.contact {
  text-align: center;
}

.contact-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

.body-text {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.projects, .photo {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  margin-top: -10px;
  margin-bottom: 0;
}

.boxes {
  width: 48%;
  padding-left: 1%;
  padding-right: 1%;
}

.boxes.image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  font-size: 12px;
  border-top: 4px double #333;
  padding-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 455px) {
  .home-header {
    margin-top: 0;
  }

  .home-link {
    font-size: 50px;
  }

  .navbar {
    flex-wrap: wrap;
    border-top: 4px double #333;
  }

  .navlink {
    width: 33%;
  }

  .boxes {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
