/* FONTS */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZnkOCv2z24PMFk-0g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZnkOCX2z24PMFk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: local('Muli SemiBold'), local('Muli-SemiBold'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-ade3iOCv2z24PMFk-0g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: local('Muli SemiBold'), local('Muli-SemiBold'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-ade3iOCX2z24PMFk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgEM86xRbPQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWAe5j5hNKe1_w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5j5hNKc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* STYLES */

body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #333;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 16px;
  color: #FF9B44;
  margin: 0;
}

p {
  margin-top: 0;
  font-size: 14px;
}

p.body {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

img {
  width: 100%;
}

a, a:visited, a.home-link:hover {
  color: #333;
  text-decoration: none;
}

a.colorlink, a.colorlink:visited, a.navlink.active {
  color: #FF9B44;
}

a:hover, a.colorlink:hover {
  color: #999;
}

.container {
  max-width: 750px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.home {
  margin-top: 30vh;
}

.home-header {
  margin-top: 10vh;
  text-align: center;
  display: flex;
}

.home-link {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  margin: auto;
}

.navbar {
  font-size: 22px;
  border-bottom: 4px double #333;
  display: flex;
  text-align: center;
}

.navbar-home {
  border-top: 4px double #333;
}

.navlink {
  flex-grow: 1;
}

.contact {
  text-align: center;
}

.contact-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

.body-text {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.projects, .photo {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  margin-top: -10px;
  margin-bottom: 0;
}

.boxes {
  width: 48%;
  padding-left: 1%;
  padding-right: 1%;
}

.boxes.image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  font-size: 12px;
  border-top: 4px double #333;
  padding-top: 10px;
  margin-bottom: 20px;
}

/* YouTube embedding styling */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 15px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 455px) {
  .home-header {
    margin-top: 0;
  }

  .home-link {
    font-size: 50px;
  }

  .navbar {
    flex-wrap: wrap;
    border-top: 4px double #333;
  }

  .navlink {
    width: 33%;
  }

  .boxes {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
